html {
  font-family: 'Public Sans', sans-serif;
  --body-copy: 18px;
  --Lime-Cyan-Gradient: linear-gradient(128deg, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
  --Dark-blue: hsl(233, 26%, 24%);
  --Lime-green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}